.edit-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px; /* Set the width to 500px */
    margin: 0 auto; /* Center the component horizontally */
  }
  
  .edit-component-container .MuiTextField-root {
    margin-bottom: 1rem; /* Add spacing between fields */
    width: 100%; /* Make the fields occupy the full width */
  }
  
  .edit-component-container .MuiButton-root {
    width: 100%; /* Make the buttons occupy the full width */
    margin-top: 2rem; /* Add spacing below the buttons */
  }